#search {
    position: absolute;
    width: 800px;
    top: 25%;
    left: 50%;
    text-align: center;
    line-height: normal;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
}

#search img {
    width: 269px;
}

input[type="text"] {
    margin-top: 1em;
    width: 70%;
    height: 25px;
    font-size: 110%;
    border: solid 1px #bababa;
    border-top-color: #a5a5a5;
    -webkit-transition: border 0.2s;
}

input[type="text"]:hover {
    border: solid 1px #747474;
}

input[type="text"]:focus {
    border: solid 1px #4f99ff;
    outline: none;
}

button[type="submit"] {
    margin: 1.5em 0.5em;
    font-size: 66%;
    font-weight: bold;
    color: #424242;
    border: solid 1px #ddd;
    border-radius: 1px;
    height: 2.5em;
    background: #f0f0f0;
    -webkit-transition: border 0.2s;
    -webkit-transition: color 0.2s;
    -webkit-transition: box-shadow 0.2s;
}

button[type="submit"]:hover {
    border: solid 1px #bbb;
    box-shadow: 0px 1px 3px #ddd;
    color: black;
}